.cart-link {
  position: fixed;
  right: 10px;
  top: 10px;
  font-size: 32px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 5px 5px 8px #888888, -5px 5px 8px #888888, -5px -5px 8px #888888;
}
